<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="success">
            <ion-title>Menu Opciones ADMIN</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color="secondary">
        <ion-list>
            <ion-item (click)="editarPerfil()">Editar Usuarios</ion-item>
            <ion-item (click)="historial()">Historial Viajes</ion-item>
            <div class="boton">
                <ion-button color="warning" (click)="logout()">LOG OUT</ion-button>
            </div>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>


<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Registro de Usuarios
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary" class="ion-padding">
    <div class="datos">
        <ion-input placeholder="Nombre" class="primary-input" [(ngModel)]="admin.nombre"></ion-input>
        <ion-input placeholder="Email" class="primary-input" [(ngModel)]="admin.email"></ion-input>
        <ion-input placeholder="Password" type="password" class="primary-input" [(ngModel)]="admin.password"></ion-input>
        <ion-input placeholder="Edad" class="primary-input" [(ngModel)]="admin.edad"></ion-input>
    </div>
    <ion-item>
        <ion-label position="floating">Genero</ion-label>
        <ion-select [(ngModel)]="admin.genero" placeholder="Selecciona">
            <ion-select-option value="Femenino">Femenino</ion-select-option>
            <ion-select-option value="Masculino">Masculino</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Tipo de usuario</ion-label>
        <ion-select [(ngModel)]="admin.tipoUsuario" placeholder="Selecciona">
            <ion-select-option value="Pasajero">Pasajero</ion-select-option>
            <ion-select-option value="Conductor">Conductor</ion-select-option>
            <ion-select-option value="Administrador">Administrador</ion-select-option>
        </ion-select>
    </ion-item>

    <div class="ion-margin-top">
        <ion-button color="warning" expand="block" (click)="postUsuario()">Registrar</ion-button>
    </div>

</ion-content>