.robo {
    background-color: #f3b52f;
}

.choque {
    background-color: #dc2b2b;
}

h2 {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.titulo {
    text-align: center;
}

.boton {
    text-align: center;
}

ion-card-title {
    color: white;
    font-size: large;
}