.logo {
    width: 65%;
    margin: 10% 0 5% 0;
}

.title {
    margin-bottom: 25px;
    font-size: larger;
    color: #000000;
    font-weight: bolder;
}

.title p {
    margin-top: 0 !important;
    color: #000000;
}